/* Estilos responsivos para telas menores */
@media (max-width: 1044px) {
    .pagina{
        width: 100%;
    }

    .telaDestaque {
        width: 100%;
        justify-content: space-around;
    }

    .Texto-Destaque {
        width: 55%;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .telaDestaque h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .foto-perfil img {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: space-around;
    }
    
    .barra-nav {
        flex-direction: column;
        width: 99%;
    }
    
    .Social-Media {
        width: 250px;
        height: 100px;
    }
    
    .Conhecimentos {
        width: 50%;
        min-width: 250px;
    }

    .Conhecimentos .HTML_BoxModel img, .CSS_BoxModel img, .Js_BoxModel img, .C_BoxModel img, .Python_BoxModel img{
        width: 140px;
        height: 140px;
        min-width: 80px;
    }
}

@media (max-width: 497px) {
    .telaDestaque {
        width: 100%;
    }
    
    .telaDestaque h1 {
        font-size: 16px;
        justify-content: space-around;
    }

    .foto-perfil img {
        width: 150px;
        height: 150px;
        display: flex;
    }
    
    .barra-nav {
        flex-direction: column;
    }
    
    .Social-Media {
        width: 160px;
        height: 160px;
        display: flex;
        flex-direction: column;
    }
    
    .Conhecimentos {
        width: 10%;
        min-width: 250px;
    }
}