/* Reset de tudo do site e variável rem customizada copiada */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --rem: 1px; /* Copiei de um gringo, o rem é relativo ao site então fica mais responsivo */
    --em: 1px;
}

/* Estilos básicos do body */
body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40rem;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    color: #333;
    background-color: #212020;
    --rem: 1px;
    --em: 1px;
}

/* Parágrafos do site*/
p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 50rem;
    color: #F8F0FB;
}

/* Título das seções */
h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #E9E3E6;
}

/* Main da página */
.main {
    display: flex;
    min-height: 100vh;
}

/* Container de conteúdo vertical  (tive ideia vendo um site da Paschoalotto)*/
.pagina {
    width: 100%;
    display: flex;
    flex-direction: column; /* Não deixa o conteúdo da página comer espaço do menu */
}

/* Seções principais do site */
.section {
    padding: 6rem 4rem;
    max-width: 120rem;
    margin: 0 auto;
}

/* Barra de navegação fixa no topo */
.barra-nav {
    background-color: #451d6d;
    padding: 0.5rem; /* Deixando o espaçamento entre os itens do menu bem pequeno */
    border: 0.1rem solid #200d33; /* Adicionando uma borda para dar um efeito de profundidade */
    border-bottom: none; /* Removendo a borda inferior para dar um efeito de continuidade com o conteúdo */
    box-shadow: 0 0.2rem 0.4rem #0000001a; /* Adicionando uma sombra sutil para dar um efeito de elevação */
    width: 100vw; /* Fazendo a barra de navegação ocupar toda a parte de cima da tela */
    max-height: 4rem; /* Limitando a altura da barra de navegação para evitar que ela fique muito alta */
    position: fixed; /* Deixando a barra fixa*/
     
}

/* Container do menu principal */
.menu {
    display: flex;
    flex-direction: row; /* Deixando os itens do menu em linha */
    align-items: center; /* Garantia */
    height: 100%;
}

/* Lista horizontal de itens de navegação */
.menu ul {
    list-style: none; /* Reset na formatação da lista */
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Deixando o espaaçamento entre os itens do menu bem pequeno */
    margin: 0;
    height: 1rem;
    width: 5rem;
    align-items: center;
}

/* Links do menu com cantos arredondados */
.menu li a {
    display: block;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem; /* Ajeitando o arredondamento */
    text-decoration: none;
    color: #E9E3E6;
    border-radius: 1rem;
    transition: background 0.3s;
    white-space: nowrap;
}

/* Efeito ao passar o mouse para itens do menu */
.menu li a:hover {
    color: #6C6CC2;
}

/* Estilo base dos links dentro do menu */
.menu a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 50rem;
    transition: color 0.3s ease;
}

/* Área de destaque principal com gradiente */
.telaDestaque {
    padding: 1rem 0.5rem;
    padding-right: 2rem;
    width: 100%;
    height: 2em;
    background: linear-gradient(360deg, #212020 40%, #451d6d 60%);
    color: #E9E3E6;
    display: flex;
    flex-direction: row; /* Mantém os conteúdos lado a lado*/
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    flex: 1;

}

/* Título principal da tela de destaque */
.telaDestaque h1 {
    font-size: 3em;
    margin-bottom: 2rem;
}

/* Classe utilitária para texto vermelho */
.textoDestaque {
    color: #E54B4B;
}

/* Seção de foto de perfil com alinhamento central */
.foto-perfil {
    text-align: center;
    padding: 4rem 2rem;
}

/* Imagem de perfil */
.foto-perfil img {
    width: 15rem;
    height: 15rem;
    border: 0.4rem solid #451d6d;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

/* Container dos botões sociais */
.Social-Media {
    width: 20%;
    height: 5.5em;
    box-shadow: 0.2rem 0.4rem 1rem 1rem #662ba140; /* sombra mais suave e natural */
    border-radius: 3.5rem;
    display: flex;
    flex-direction: row; /* Mantém os conteúdos lado a lado*/
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
}

/* Botão do LinkedIn */
.Botao_Linkedin {
    display: flex;
    padding: 0.5rem 1rem;
    width: 5em;
    height: 5em;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

/* Botão do GitHub */
.Botao_GitHub {
    display: flex;
    padding: 0.5rem 1rem;
    width: 5em;
    height: 5em;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

/*Section dos conhecimentos que possuo e as caixas dos mesmos*/
.Conhecimentos {
    padding: 6rem 4rem;
    padding-bottom: 0;
    padding-top: 1rem;
    width: 100%;
        max-width: 120rem;
        min-width: 30rem;
    height: 27rem;
        max-height: 26rem;
        min-height: 20rem;
    margin: 0;
    display: flex;
    flex-direction: row; /* Mantém os conteúdos lado a lado*/
    align-items: flex-start;
}

.HTML_BoxModel, .CSS_BoxModel, .Js_BoxModel, .C_BoxModel, .Python_BoxModel {
    width: 15rem;
    height: 20rem;
    border-radius: 2rem;
    padding: 2rem;
    padding-top: 0.2rem;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #E9E3E6;
}
.HTML_BoxModel img, .CSS_BoxModel img, .Js_BoxModel img, .C_BoxModel img, .Python_BoxModel imrem;
    height: 10rem;
    object-fit: cover;
    display: flex;
    border-radius: 1.5rem;
}
.HTML_BoxModel h2, .CSS_BoxModel h2, .Js_BoxModel h2, .C_BoxModel h2, .Python_BoxModel h2 {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.Carreira {
    padding: 2rem 1rem;
    width: 100%;
        max-width: 120rem;
        min-width: 30rem;
    height: 35rem;
        max-height: 36rem;
        min-height: 25rem;
    margin: 0;
    display: flex;
    flex-direction: row; /* Mantém os conteúdos lado a lado*/
}

.Carreira01_BoxModel {
    padding: 3rem 2rem;
    width: 35rem;
        max-width: 90rem;
        min-width: 15rem;
    height: 15rem;
        max-height: 16rem;
        min-height: 10rem;
    margin: 0;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: start;
}

.Box_Imagem_Carreira01 {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box_Imagem_Carreira01 img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.Box_Texto_Carreira01 {
    width: 30rem;
    height: 15rem;
    margin-left: 0.2rem;
    border-right: 0.2rem solid #451d6d;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* Elementos que aparecem com animação de entrada */
.scroll-in {
    animation: fadeInUp 0.8s ease-out;
}

/* Animação de translação suave para os elementos scroll-in */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}